LMSProdn/App_WebReferences/AuthUser/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/SingleSignOn" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/SingleSignOn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/SingleSignOn">
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserIPAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="tns:AuthResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthenticateUserbyEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserIPAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserbyEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserbyEmailResult" type="tns:AuthResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsInactiveAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsCust" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsInactiveAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsInactiveAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateExpiredUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strActCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateExpiredUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateExpiredUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLoginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Displayname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcctActivationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cell" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserIPAddress" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserInfo" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivationCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBrand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivationCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActivationCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserEmailId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOldEmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserEmailIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserEmailIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUserInfo" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIPAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strIPActivationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateIPAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateIPAddressResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIPAddressCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIPAddressCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIPAddressCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsArubaEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsArubaEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsArubaEmpResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRestrictedUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRestrictedUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsRestrictedUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRestrictedDomain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="blIsNewUser" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRestrictedDomainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsRestrictedDomainResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArubaEmp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetArubaEmpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetArubaEmpResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLastLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLastLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChangePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strActivationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strActivationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmailExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEmailExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsEmailExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResetPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsWindowsLoginID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="APPID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsWindowsLoginIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsWindowsLoginIDResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsStrongPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsStrongPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsStrongPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUserAccessApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUserAccessAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUserAccessAppResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeActivateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAppId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeActivateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeActivateUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserbyEmailSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUserbyEmail" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserbyEmailSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserbyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IsInactiveAccountSoapIn">
    <wsdl:part name="parameters" element="tns:IsInactiveAccount" />
  </wsdl:message>
  <wsdl:message name="IsInactiveAccountSoapOut">
    <wsdl:part name="parameters" element="tns:IsInactiveAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateExpiredUserSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateExpiredUser" />
  </wsdl:message>
  <wsdl:message name="ActivateExpiredUserSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateExpiredUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddUserInfo" />
  </wsdl:message>
  <wsdl:message name="AddUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getActivationCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getActivationCode" />
  </wsdl:message>
  <wsdl:message name="getActivationCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getActivationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserEmailIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserEmailId" />
  </wsdl:message>
  <wsdl:message name="UpdateUserEmailIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserEmailIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateIPAddressSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateIPAddress" />
  </wsdl:message>
  <wsdl:message name="UpdateIPAddressSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="getIPAddressCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getIPAddressCode" />
  </wsdl:message>
  <wsdl:message name="getIPAddressCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getIPAddressCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IsArubaEmpSoapIn">
    <wsdl:part name="parameters" element="tns:IsArubaEmp" />
  </wsdl:message>
  <wsdl:message name="IsArubaEmpSoapOut">
    <wsdl:part name="parameters" element="tns:IsArubaEmpResponse" />
  </wsdl:message>
  <wsdl:message name="IsRestrictedUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsRestrictedUser" />
  </wsdl:message>
  <wsdl:message name="IsRestrictedUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsRestrictedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IsRestrictedDomainSoapIn">
    <wsdl:part name="parameters" element="tns:IsRestrictedDomain" />
  </wsdl:message>
  <wsdl:message name="IsRestrictedDomainSoapOut">
    <wsdl:part name="parameters" element="tns:IsRestrictedDomainResponse" />
  </wsdl:message>
  <wsdl:message name="GetArubaEmpSoapIn">
    <wsdl:part name="parameters" element="tns:GetArubaEmp" />
  </wsdl:message>
  <wsdl:message name="GetArubaEmpSoapOut">
    <wsdl:part name="parameters" element="tns:GetArubaEmpResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLastLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLastLogin" />
  </wsdl:message>
  <wsdl:message name="UpdateLastLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLastLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateUser" />
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserEmail" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IsEmailExistsSoapIn">
    <wsdl:part name="parameters" element="tns:IsEmailExists" />
  </wsdl:message>
  <wsdl:message name="IsEmailExistsSoapOut">
    <wsdl:part name="parameters" element="tns:IsEmailExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IsWindowsLoginIDSoapIn">
    <wsdl:part name="parameters" element="tns:IsWindowsLoginID" />
  </wsdl:message>
  <wsdl:message name="IsWindowsLoginIDSoapOut">
    <wsdl:part name="parameters" element="tns:IsWindowsLoginIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsStrongPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:IsStrongPassword" />
  </wsdl:message>
  <wsdl:message name="IsStrongPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:IsStrongPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ListUserAccessAppSoapIn">
    <wsdl:part name="parameters" element="tns:ListUserAccessApp" />
  </wsdl:message>
  <wsdl:message name="ListUserAccessAppSoapOut">
    <wsdl:part name="parameters" element="tns:ListUserAccessAppResponse" />
  </wsdl:message>
  <wsdl:message name="DeActivateUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeActivateUser" />
  </wsdl:message>
  <wsdl:message name="DeActivateUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeActivateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates user and returns Authentcation Result</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserbyEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates user and returns Authentcation Result</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateUserbyEmailSoapIn" />
      <wsdl:output message="tns:AuthenticateUserbyEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsInactiveAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">To check whether user is InActive or not</wsdl:documentation>
      <wsdl:input message="tns:IsInactiveAccountSoapIn" />
      <wsdl:output message="tns:IsInactiveAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateExpiredUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update the last login status</wsdl:documentation>
      <wsdl:input message="tns:ActivateExpiredUserSoapIn" />
      <wsdl:output message="tns:ActivateExpiredUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns User Info</wsdl:documentation>
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add User Info</wsdl:documentation>
      <wsdl:input message="tns:AddUserInfoSoapIn" />
      <wsdl:output message="tns:AddUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActivationCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Activation code</wsdl:documentation>
      <wsdl:input message="tns:getActivationCodeSoapIn" />
      <wsdl:output message="tns:getActivationCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEmailId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update EmailId</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserEmailIdSoapIn" />
      <wsdl:output message="tns:UpdateUserEmailIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update User Info</wsdl:documentation>
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIPAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update IP Address</wsdl:documentation>
      <wsdl:input message="tns:UpdateIPAddressSoapIn" />
      <wsdl:output message="tns:UpdateIPAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIPAddressCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get IP Address</wsdl:documentation>
      <wsdl:input message="tns:getIPAddressCodeSoapIn" />
      <wsdl:output message="tns:getIPAddressCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsArubaEmp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check whether Aruba Employee</wsdl:documentation>
      <wsdl:input message="tns:IsArubaEmpSoapIn" />
      <wsdl:output message="tns:IsArubaEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRestrictedUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check whether User is in restricted list</wsdl:documentation>
      <wsdl:input message="tns:IsRestrictedUserSoapIn" />
      <wsdl:output message="tns:IsRestrictedUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRestrictedDomain">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check whether User Domain is in restricted list</wsdl:documentation>
      <wsdl:input message="tns:IsRestrictedDomainSoapIn" />
      <wsdl:output message="tns:IsRestrictedDomainSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetArubaEmp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Aruba Emp Details</wsdl:documentation>
      <wsdl:input message="tns:GetArubaEmpSoapIn" />
      <wsdl:output message="tns:GetArubaEmpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">update last login Date and time</wsdl:documentation>
      <wsdl:input message="tns:UpdateLastLoginSoapIn" />
      <wsdl:output message="tns:UpdateLastLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Change User Password</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Activate User</wsdl:documentation>
      <wsdl:input message="tns:ActivateUserSoapIn" />
      <wsdl:output message="tns:ActivateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Email from Activation Code</wsdl:documentation>
      <wsdl:input message="tns:GetUserEmailSoapIn" />
      <wsdl:output message="tns:GetUserEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Check if Email exits</wsdl:documentation>
      <wsdl:input message="tns:IsEmailExistsSoapIn" />
      <wsdl:output message="tns:IsEmailExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reset Password</wsdl:documentation>
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsWindowsLoginID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">check if EmailID is windows Login ID</wsdl:documentation>
      <wsdl:input message="tns:IsWindowsLoginIDSoapIn" />
      <wsdl:output message="tns:IsWindowsLoginIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsStrongPassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">check if Password is Strong Type</wsdl:documentation>
      <wsdl:input message="tns:IsStrongPasswordSoapIn" />
      <wsdl:output message="tns:IsStrongPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListUserAccessApp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lists all the Application user has access To</wsdl:documentation>
      <wsdl:input message="tns:ListUserAccessAppSoapIn" />
      <wsdl:output message="tns:ListUserAccessAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeActivateUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DeActivate User</wsdl:documentation>
      <wsdl:input message="tns:DeActivateUserSoapIn" />
      <wsdl:output message="tns:DeActivateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSoap" type="tns:AuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://localhost/SingleSignOn/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserbyEmail">
      <soap:operation soapAction="http://localhost/SingleSignOn/AuthenticateUserbyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInactiveAccount">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsInactiveAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateExpiredUser">
      <soap:operation soapAction="http://localhost/SingleSignOn/ActivateExpiredUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://localhost/SingleSignOn/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <soap:operation soapAction="http://localhost/SingleSignOn/AddUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivationCode">
      <soap:operation soapAction="http://localhost/SingleSignOn/getActivationCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEmailId">
      <soap:operation soapAction="http://localhost/SingleSignOn/UpdateUserEmailId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://localhost/SingleSignOn/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIPAddress">
      <soap:operation soapAction="http://localhost/SingleSignOn/UpdateIPAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIPAddressCode">
      <soap:operation soapAction="http://localhost/SingleSignOn/getIPAddressCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArubaEmp">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsArubaEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRestrictedUser">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsRestrictedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRestrictedDomain">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsRestrictedDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArubaEmp">
      <soap:operation soapAction="http://localhost/SingleSignOn/GetArubaEmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastLogin">
      <soap:operation soapAction="http://localhost/SingleSignOn/UpdateLastLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://localhost/SingleSignOn/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction="http://localhost/SingleSignOn/ActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <soap:operation soapAction="http://localhost/SingleSignOn/GetUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailExists">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsEmailExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://localhost/SingleSignOn/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsWindowsLoginID">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsWindowsLoginID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsStrongPassword">
      <soap:operation soapAction="http://localhost/SingleSignOn/IsStrongPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUserAccessApp">
      <soap:operation soapAction="http://localhost/SingleSignOn/ListUserAccessApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeActivateUser">
      <soap:operation soapAction="http://localhost/SingleSignOn/DeActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticationSoap12" type="tns:AuthenticationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://localhost/SingleSignOn/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserbyEmail">
      <soap12:operation soapAction="http://localhost/SingleSignOn/AuthenticateUserbyEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsInactiveAccount">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsInactiveAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateExpiredUser">
      <soap12:operation soapAction="http://localhost/SingleSignOn/ActivateExpiredUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://localhost/SingleSignOn/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <soap12:operation soapAction="http://localhost/SingleSignOn/AddUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivationCode">
      <soap12:operation soapAction="http://localhost/SingleSignOn/getActivationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEmailId">
      <soap12:operation soapAction="http://localhost/SingleSignOn/UpdateUserEmailId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://localhost/SingleSignOn/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIPAddress">
      <soap12:operation soapAction="http://localhost/SingleSignOn/UpdateIPAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIPAddressCode">
      <soap12:operation soapAction="http://localhost/SingleSignOn/getIPAddressCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArubaEmp">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsArubaEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRestrictedUser">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsRestrictedUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRestrictedDomain">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsRestrictedDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArubaEmp">
      <soap12:operation soapAction="http://localhost/SingleSignOn/GetArubaEmp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastLogin">
      <soap12:operation soapAction="http://localhost/SingleSignOn/UpdateLastLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://localhost/SingleSignOn/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap12:operation soapAction="http://localhost/SingleSignOn/ActivateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmail">
      <soap12:operation soapAction="http://localhost/SingleSignOn/GetUserEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailExists">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsEmailExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://localhost/SingleSignOn/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsWindowsLoginID">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsWindowsLoginID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsStrongPassword">
      <soap12:operation soapAction="http://localhost/SingleSignOn/IsStrongPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUserAccessApp">
      <soap12:operation soapAction="http://localhost/SingleSignOn/ListUserAccessApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeActivateUser">
      <soap12:operation soapAction="http://localhost/SingleSignOn/DeActivateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="AuthenticationSoap" binding="tns:AuthenticationSoap">
      <soap:address location="http://iadsvc02/SingleSignOnAruba/Authentication.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticationSoap12" binding="tns:AuthenticationSoap12">
      <soap12:address location="http://iadsvc02/SingleSignOnAruba/Authentication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>