LMSProdn/App_WebReferences/AirwavekeyGen/Airwave.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://licensing.arubanetworks.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://licensing.arubanetworks.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://licensing.arubanetworks.com/">
      <s:element name="GetCertificate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="APCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivationKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAdd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="APCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SerialNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivationKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivationKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEvalKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEvalKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEvalKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsolidatedActivationKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrganisationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAdd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RAPIDs" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="VisualRF" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="APCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="colonSeperatedSerialNumbers" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsolidatedActivationKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsolidatedActivationKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCertificateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificate" />
  </wsdl:message>
  <wsdl:message name="GetCertificateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivationKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetActivationKey" />
  </wsdl:message>
  <wsdl:message name="GetActivationKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetActivationKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetEvalKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetEvalKey" />
  </wsdl:message>
  <wsdl:message name="GetEvalKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetEvalKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetConsolidatedActivationKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetConsolidatedActivationKey" />
  </wsdl:message>
  <wsdl:message name="GetConsolidatedActivationKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetConsolidatedActivationKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="AirwaveSoap">
    <wsdl:operation name="GetCertificate">
      <wsdl:input message="tns:GetCertificateSoapIn" />
      <wsdl:output message="tns:GetCertificateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActivationKey">
      <wsdl:input message="tns:GetActivationKeySoapIn" />
      <wsdl:output message="tns:GetActivationKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvalKey">
      <wsdl:input message="tns:GetEvalKeySoapIn" />
      <wsdl:output message="tns:GetEvalKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsolidatedActivationKey">
      <wsdl:input message="tns:GetConsolidatedActivationKeySoapIn" />
      <wsdl:output message="tns:GetConsolidatedActivationKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirwaveSoap" type="tns:AirwaveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCertificate">
      <soap:operation soapAction="http://licensing.arubanetworks.com/GetCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivationKey">
      <soap:operation soapAction="http://licensing.arubanetworks.com/GetActivationKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvalKey">
      <soap:operation soapAction="http://licensing.arubanetworks.com/GetEvalKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsolidatedActivationKey">
      <soap:operation soapAction="http://licensing.arubanetworks.com/GetConsolidatedActivationKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirwaveSoap12" type="tns:AirwaveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCertificate">
      <soap12:operation soapAction="http://licensing.arubanetworks.com/GetCertificate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivationKey">
      <soap12:operation soapAction="http://licensing.arubanetworks.com/GetActivationKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvalKey">
      <soap12:operation soapAction="http://licensing.arubanetworks.com/GetEvalKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsolidatedActivationKey">
      <soap12:operation soapAction="http://licensing.arubanetworks.com/GetConsolidatedActivationKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Airwave">
    <wsdl:port name="AirwaveSoap" binding="tns:AirwaveSoap">
      <soap:address location="http://iadsvc02/AirwaveWS/Airwave.asmx" />
    </wsdl:port>
    <wsdl:port name="AirwaveSoap12" binding="tns:AirwaveSoap12">
      <soap12:address location="http://iadsvc02/AirwaveWS/Airwave.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>